<IfModule mod_rewrite.c>
    RewriteEngine On

    # Đảm bảo yêu cầu cho thư mục public/images không bị chuyển hướng
    RewriteCond %{REQUEST_URI} !^/images/
    RewriteRule ^(.*)$ public/$1 [L]

    # Điều kiện để xử lý Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Redirection nếu có dấu gạch chéo thừa ở cuối URL
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    # Chuyển tất cả các yêu cầu không phải tệp thực hoặc thư mục vào index.php
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>
