body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.wrapper {
    width: 80%;
    margin: 0 auto;
}

#header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;

}

#main {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#main li {
    display: inline;
    margin-right: 20px;
}

.text {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: right-start;
    color: #fff;
    margin-left:  20px;
    list-style-type: none;
}
.text p{
    margin-right: 10px;
}
.text a{
    color: #fff;
}
#main li a {
    color: #fff;
    text-decoration: none;
}

#content {
    padding: 20px 0;
}

#footer {
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.wrapper {
    width: 80%;
    margin: 0 auto;
    padding-top: 50px;
    /* Thêm khoảng cách phía trên cho nội dung */
    padding-bottom: 50px;
    /* Thêm khoảng cách phía dưới cho nội dung */
}

#header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    display: inline-block;
    text-align: center;
    position: fixed;
    /* Cố định vị trí */
    top: 0;
    right: 0;
    /* Đặt ở trên cùng */
    width: 100%;
    /* Chiều rộng toàn bộ */
}

#main {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#main li {
    display: inline;
    margin-right: 20px;
}

#main li a {
    color: #fff;
    text-decoration: none;
}

#content {
    margin-top: 68px;
    padding: 20px 0;
}

#footer {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    position: fixed;
    /* Cố định vị trí */
    bottom: 0;
    /* Đặt ở dưới cùng */
    width: 100%;
    /* Chiều rộng toàn bộ */
}